<ion-view view-title="Details" ng-controller="PaneCtrl" >
    <ion-pane>
      <ion-header-bar class="bar-positive">
        <h1 class="title">Ionic Sub Header Show/Hide on Scroll</h1>
      </ion-header-bar>
      <ion-header-bar class="bar-subheader bar-dark" ng-class="{'bar-subheader-slide-away': slideHeader}">
        <h1 class="title">Hide this sub header on scroll down and display on scroll up!</h1>
      </ion-header-bar>
      <ion-content scroll-watch>
        <div class="list">
          <div class="item item-divider">
            Header
          </div>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <div class="item item-divider">
            Heading
          </div>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <div class="item item-divider">
            Heading
          </div>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <div class="item item-divider">
            Heading
          </div>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <div class="item item-divider">
            Scroll Distance 
          </div>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <div class="item item-divider">
            Heading
          </div>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <div class="item item-divider">
            Heading
          </div>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
          <div class="item item-divider">
            Heading
          </div>
          <a class="item" href="#">
            List Item
          </a>
          <a class="item" href="#">
            List Item
          </a>
        </div>
      </ion-content>
    </ion-pane>
    </ion-view>
