<ion-view view-title="Menu">
    <ion-nav-buttons side="right"  >
      <i style="color: white;font-size: 24px; padding: 5px 10px 5px 10px;" class="icon ion-ios-cart" ui-sref="app.cart"> 4{{cartTotal}}</i>
    </ion-nav-buttons>
  <ion-content ng-class="{expanded:isExpanded}" class="condensed-space no-padding animate-fade-slide-in">
        <div class="list">

        <a class="item item-avatar" ui-sref="app.details" style="background-color: #fff; border-bottom: 2px solid #ddd;">
          <img src="img/drinks.jpg">
          <h2>Lemon Juise</h2>
          <p>Price <strong>$12.50</strong></p>
        </a>
        
        <a class="item item-avatar" ui-sref="app.details" style="background-color: #fff; border-bottom: 2px solid #ddd;">
          <img src="img/drinks.jpg">
          <h2>Lemon Juise</h2>
          <p>Price <strong>$12.50</strong></p>
        </a>
        
        <a class="item item-avatar" ui-sref="app.details" style="background-color: #fff; border-bottom: 2px solid #ddd;">
          <img src="img/drinks.jpg">
          <h2>Lemon Juise</h2>
          <p>Price <strong>$12.50</strong></p>
        </a>
        
        <a class="item item-avatar" ui-sref="app.details" style="background-color: #fff; border-bottom: 2px solid #ddd;">
          <img src="img/drinks.jpg">
          <h2>Lemon Juise</h2>
          <p>Price <strong>$12.50</strong></p>
        </a>
        
        <a class="item item-avatar" ui-sref="app.details" style="background-color: #fff; border-bottom: 2px solid #ddd;">
          <img src="img/drinks.jpg">
          <h2>Lemon Juise</h2>
          <p>Price <strong>$12.50</strong></p>
        </a>
        
        <a class="item item-avatar" ui-sref="app.details" style="background-color: #fff; border-bottom: 2px solid #ddd;">
          <img src="img/drinks.jpg">
          <h2>Lemon Juise</h2>
          <p>Price <strong>$12.50</strong></p>
        </a>
        
        </div>
  </ion-content>
</ion-view>
