<ion-view view-title="Resturant Route Map">
    
    <ion-header-bar class="bar-dark" >
      <h1 class="title" >My Location</h1>
    </ion-header-bar>
    
    <ion-content>
    <!-- <input id="pac-input" class="controls" type="text" placeholder="Search Box"> -->
    
    <div id="map" data-tap-disabled="true"></div>
    <div class="myloc" style="position: absolute;margin: -435px 0 0 310px;padding: 5px 5px 0px 5px;border: 1px solid #ddd;background: rgba(255, 255, 255, 0.61);color: #fff;" ng-click="centerOnMe()"><img src="img/mylocation.png"/></div>
    </ion-content>
    
</ion-view>